@font-face {
  font-family: "iconfont"; /* Project id 2771404 */
  src: url('iconfont.woff2?t=1635412571811') format('woff2'),
       url('iconfont.woff?t=1635412571811') format('woff'),
       url('iconfont.ttf?t=1635412571811') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lingdang:before {
  content: "\e600";
}

.icon-daibanshenpi:before {
  content: "\e68b";
}

.icon-gerendaiban:before {
  content: "\e651";
}

.icon-xinfengdakai:before {
  content: "\e696";
}

.icon-weidudianjihou:before {
  content: "\e659";
}

